.flight {
  &__there {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-bottom: 2px solid blue;
    margin-top: 10px;
    > div {
      margin-bottom: 10px;
    }
    &-airline {
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      max-width: 95%;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    &-time {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    &-transfer {
      box-sizing: border-box;
      max-width: 90%;
      border-left: none;
      border-right: none;
      border-bottom: none;
      text-align: center;
      width: 100%;
      &-value {
        margin: 0 auto;
        padding: 0 10px;
        color: rgb(255, 157, 65);
      }
    }
    &-company {
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      padding: 0 10px;
    }
  }
  //   > :last-child {
  //     border-top: 1px solid blue;
  //   }
}
